	
.dark-big {
	color: #333333;
	font-size: 16px;
}

.dark-medium {
	color: #333333;
	font-size: 14px;
}

.dark-small {
	color: #333;
	font-size: 12px;
}

.dark-miro {
	color: #333;
	font-size: 10px;
}

.gray-big {
	color: #a2a2a2;
	font-size: 16px;
}

.gray-medium {
	color: #A2A2A2;
	font-size: 14px;
}

.gray-small {
	color: #A2A2A2;
	font-size: 12px;
}

.gray-miro {
	color: #A2A2A2;
	font-size: 10px;
}

.orange-big {
	color: #EC971F;
	font-size: 16px;
}

.orange-medium {
	color: #EC971F;
	font-size: 14px;
}

.orange-small {
	color: #EC971F;
	font-size: 12px;
}

.orange-miro {
	color: #EC971F;
	font-size: 10px;
}